<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">NodePop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><%= __('Home') %> <span class="sr-only">(<%= __('current') %></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/docs/"><%= __('Reference') %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/docs/api/"><%= __('Explore API') %></a>
            </li>
            <li class="nav-item authenticated-users">
                <a href="/create" class="nav-link"><%= __('New') %></a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languageSelector" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= __('Language'); %> (<%= getLocale() %>)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% getLocales().forEach(lang => {%>
                        <a class="dropdown-item<% if (lang == getLocale()) { %> disabled <% } %>" href="/lang/<%= lang %>">
                            <%= lang %>
                        </a>
                    <%}); %>
                </div>
            </li>
        </ul>
        <% include loginform %>
    </div>
</nav>