<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        NodePop
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <% include components/navbar %>
    <main class="container">
        <div class="row mt-3">
            <section class="advertisements loading">
                <div class="ui-status loading">
                    <div class="alert alert-secondary" role="alert">
                        <%= __('Loading articles, please wait...'); %>
                    </div>
                </div>
                <div class="ui-status loaded"></div>
                <div class="ui-status empty">
                    <div class="alert alert-info" role="alert">
                        <h3 class="alert-heading"><%= __('No articles yet!'); %></h3>
                        <p class="mb-0"><%= __('Be the first in publish one!'); %></p>
                    </div>
                </div>
                <div class="ui-status error">
                    <div class="alert alert-danger" role="alert">
                        <h3 class="alert-heading"><%= __('Oooops! Something went wrong!'); %></h3>
                        <p class="mb-0"><%= __('loading_articles_error_message'); %></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <% include components/footer %>
    <script src="js/main.js"></script>
</body>

</html>